@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  @apply font-primary;
  @apply bg-nord-neutral-10;
  @apply font-[1.6rem];
  @apply text-white;
  @apply font-[500];
}

.slick-slide {
  @apply flex w-[190px] items-center justify-items-center;
}

@layer components {
  .social {
    @apply text-[3.2rem] text-yellow-500 transition-all hover:scale-110 hover:text-yellow-800;
  }
}

@layer components {
  .service {
    @apply mb-[5rem] flex max-w-[340px] flex-col items-center text-center tabletSM:max-w-[340px] tabletMD:max-w-[340px] tabletLG:max-w-[380px] laptopSM:max-w-[380px] laptopLG:max-w-[370px];
  }

  .img-service {
    @apply mb-[2rem] max-w-[133px] laptopSM:max-w-[140px];
  }

  .title {
    @apply mb-[1rem] text-[2.2rem] font-[600] laptopSM:text-[2.4rem];
  }

  .description {
    @apply text-[1.5rem] laptopSM:text-[1.7rem];
  }
}

@layer components {
  .text-key {
    @apply text-yellow-500;
  }

  .img-teams {
    @apply relative h-[50%] w-[50%] tabletMD:h-[33.33%] tabletMD:w-[33.33%] laptopSM:h-[25%] laptopSM:w-[25%];
  }

  .name {
    @apply text-[1.6rem] tabletSM:text-[2.3rem] laptopLG:text-[2.6rem] laptopLG:font-bold;
  }

  .office {
    @apply text-[1.2rem] tabletSM:text-[1.5rem] laptopLG:text-[1.8rem];
  }
}

@layer components {
  .active {
    @apply border-b-4 border-b-yellow-500 py-[1.3rem] text-[1.7rem] text-yellow-500 transition-all laptopSM:py-[42px];
  }

  .links {
    @apply cursor-pointer text-[1.7rem] transition-all hover:text-white;
  }
}

.swiper {
  @apply !mt-[4rem] !flex !max-w-full !flex-col items-center justify-center !gap-[2rem] !overflow-hidden;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-pagination {
  @apply bottom-0;
}

.swiper-pagination-bullet {
  @apply !bg-white !opacity-100;
}

.swiper-pagination {
  @apply !relative;
}

.swiper-pagination-bullet-active {
  @apply !bg-yellow-500;
}
